.loginimg{
       width: 92%;
       margin-top: 12px;
       cursor: pointer;
       height: 135px;
       margin: 10px 22px
}

.toperheaderside{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    line-height: 73px;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
background: #1E3B8B !important;
color: #F5F5F5 !important;

}
.css-hyum1k-MuiToolbar-root{
    display:block !important;
    /* background: #1E3B8B !important; */
}
.css-1l8j5k8{
    background: #1E3B8B !important;
      color: #ffffff !important;
}

.css-49ifcl-MuiPaper-root-MuiAppBar-root {
background: #1E3B8B !important;
box-shadow:none !important
}
.sidebaricon {
    color: #ffffff;
    /* background-color: #053b5c; */
    font-size: 1.4rem;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    padding: 3px 0px;
    margin: auto;
}
.css-10hburv-MuiTypography-root{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* text-align: center; */
    margin-left: 10px;
    font-weight: bold;
}
.css-hyum1k-MuiToolbar-root{
    min-height: 10px !important;
    background-color: white !important;
}
.css-8u39c-MuiTypography-root{
    background: #1E3B8B !important;
    border-radius: 10px;
    font-size: 22px !important;
    font-weight: 600 !important;
    font-family: Inter;
    font-style: italic;
}
