.topmain{
    display: flex;
    justify-content: space-between;
}
.headingdashbord{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}
.propdashbord{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 16px;
}
.insdieborder{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
.lastpro{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}
.ant-slider-track {
    background-color: black;
}

/* For the draggable track style */
.ant-slider-handle {
    border-color: black;
}

/* Optional: Change the handle color as well */
.ant-slider-handle:focus {
    background-color: black;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-slider-horizontal .ant-slider-rail {
    width: 100%;
    height: 4px;
    background: black;
}
:where(.css-dev-only-do-not-override-xu9wm8).ant-slider-horizontal .ant-slider-rail:focus {
    width: 100%;
    height: 4px;
    background: black;
}

@media only screen and (max-width: 768px) {
   .topmain {
       display: block;
       justify-content: space-between;
       margin: 12px;
   }
}
.rc-slider-track,
.rc-slider-tracks{
    background-color: black !important;
}
.rc-slider-handle {
    background-color: #000 !important;
    border: solid 2px #0a0a0a !important;
}