.workitoppro{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
select {
    appearance: none;
    background: white;
    background-image: url("../../../Image/drop.png" );
    background-repeat: no-repeat;
    background-position: right 0.2rem center;
    border-radius: 2px;
    background-size: 15px;
    padding: 0px 0px 1rem 1rem;
    
}
/* .PhoneInputCountrySelectArrow {
     background-image: url("../../../Image/drop.png") !important;
     display:block;
     background-repeat: no-repeat;
} */
/* .PhoneInputCountryIcon {
     background-image: url("../../../Image/phone.png") !important;
     z-index: 1000 !important;
} */

.btnwork{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.line{
    height: 4px;
    color: #00006A !important;
}
.topermaringpage{
    border: 1px solid #00006A;
    border-radius: 12px;
}
.serachicon{
    left: 90% !important;
    top: 40% !important;
    font-size: 20px;
}
.PhoneInputCountry {
    padding-left: 10px;
}
.lablesection{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
}
.inputsection{
    border: 1px solid #00006A;
}
.inputsection::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.inputsectiondropdpwn{
       font-family: 'Inter';
       font-style: normal;
       font-weight: 600;
       font-size: 16px;
       line-height: 19px;
}
.inputsectiondropdpwncode{
      font-family: 'Inter';
      font-style: normal;
}
.PhoneInputInput{
    border: none !important;
}
.PhoneInputInput::-moz-focus-inner{
    border: none !important;
}
.PhoneInputInput:focus{
    border: none !important;
}
.savebtn{
    background: #1E3B8B;
    border-radius: 10px;
    color: white;
}
.savebtn:hover {
    background: #1f2538;
    border-radius: 10px;
    color: rgb(248, 248, 248);
}
