.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #c9e8fd !important;
  color: #1e3b8b !important;
  margin: 50px 0px 0px 250px;
  border: 4px solid #1e3b8b;
  border-radius: 10.8235px;
}
.setupsidebar {
  margin-bottom: -30px !important;
  font-family: "Inter" !important;
  line-height: 19px !important;
}
.css-10hburv-MuiTypography-root {
  font-weight: 700 !important;
  font-family: "Inter";
  font-style: normal !important;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  border: 2px solid #ffffff !important;
  background: #1e3b8b !important;
  color: white !important;
}
.setupsidebarlast {
  margin-bottom: 50px !important;
}
.setupsidebar:hover {
  color: #ef643b !important;
}
.userCredentials {
  width: 50% !important;
}
