.Sizing{
    width:600px !important;
    border: 2px solid rgb(46, 46, 80); 
    border-radius: 2px;
    background: #D7F2FD;
    height: 200px;
    }
    .sizingtop{
        padding-top: 10px;
    }
.DialogSizing{
    border-radius: 20px !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    border-radius: 100px;
}