.css-12u49z-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell{
    border-right: 1px solid #c9c8c8;
}
.css-pdct74-MuiTablePagination-selectLabel{
    margin: auto;
}
.css-levciy-MuiTablePagination-displayedRows{
    margin: auto;
}
.css-wnkddu-MuiPaper-root-MuiAlert-root{
    width: 100%;
    height: 100% ;
    border: 2px solid rgb(19, 19, 104);
    border-radius: 10px !important ;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
    background-color: #D7F2FD !important;
    border-radius: 10px;
    border: 2px solid rgb(19, 19, 104);
}