
.css-6hp17o-MuiList-root-MuiMenu-list{
       background: #D7F2FD;
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    background: #D7F2FD;
    border: 3px solid #000000;
    border-radius: 12px;
}
.btnworkactive{
    background-color: #1E3B8B !important;
    color:white;
}