body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.topermaringpage{
  margin-top: 4.5rem;
}
.color1{
  color: #1E3B8B
}
.color2{
  color: #505D66
}
.color3{
  color: #00006A;
}
.star {
  color: #FF0404;
  font-weight: bold;
}
.bgupdata {
 background: #D7F2FD !important;
}
.pointerss{
  cursor: pointer !important;
}