.sizingtrade{
    width:100% !important;
    border: 2px solid rgb(46, 46, 80); 
    border-radius: 2px;
    background: #D7F2FD;
    height: 270px;
    }
    .sizingtoptrade{
        padding-top: 15px;
    }
.DialogSizing{
    border-radius: 20px !important;
}
